<ion-header>
  <ion-navbar>
    <ion-title>Post News</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-avatar item-start><img [src]="userInfo?.data?.image"></ion-avatar>
        <h1>{{userInfo?.data?.nickname?userInfo?.data?.nickname:userInfo?.username}}</h1>
        <h2>{{userInfo?.data?.fullname}}</h2>
        <ion-note item-end>{{ownerType[owner]}}</ion-note>
        <button item-end icon-only ion-button clear small (click)=onClickSelect()>
          <ion-icon name="globe"></ion-icon>
        </button>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-textarea [(ngModel)]="content" #txtStatus rows="1" placeholder="Ban dang nghi gi?" autosize style="border: 1px solid rgb(184, 179, 179)">
      </ion-textarea>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-2>
      <button ion-button icon-start round>
        <input class="file-over" type="file" multiple accept="image/*" (change)="fileChange($event)">
        <ion-icon name="images"></ion-icon>
        Photo/Video
      </button>
    </ion-col>
  </ion-row>

  <!-- 1 pics -->
  <div class="card-background-page" *ngIf="fileImages?.length==1">
    <img [src]="fileImages[0].image" />
    <div class="card-title">{{fileImages[0].title}}</div>
    <div class="card-subtitle">{{fileImages[0].subtitle}}</div>
  </div>

  <!-- 2 pics -->
  <ion-row *ngIf="fileImages?.length==2">
    <ion-col no-padding class="padding-col card-background-page" col-6>
      <div class="image-height-2" [style.background-image]="'url('+fileImages[0].image+')'"></div>
      <div class="card-title">{{fileImages[0].title}}</div>
      <div class="card-subtitle">{{fileImages[0].subtitle}}</div>
    </ion-col>
    <ion-col no-padding class="padding-col card-background-page" col-6>
      <div class="image-height-2" [style.background-image]="'url('+fileImages[1].image+')'"></div>
      <div class="card-title">{{fileImages[1].title}}</div>
      <div class="card-subtitle">{{fileImages[1].subtitle}}</div>
    </ion-col>
  </ion-row>

  <!-- 3 pics -->
  <ion-row *ngIf="fileImages?.length==3">
    <ion-col no-padding class="padding-col card-background-page" col-12>
      <div class="image-height-1" [style.background-image]="'url('+fileImages[0].image+')'"></div>
      <div class="card-title" *ngIf="fileImages[0].title">{{fileImages[0].title}}</div>
      <div class="card-subtitle" *ngIf="fileImages[0].subtitle">{{fileImages[0].subtitle}}</div>
    </ion-col>
    <ion-col no-padding class="padding-col card-background-page" col-6>
      <div class="image-height-2" [style.background-image]="'url('+fileImages[1].image+')'"></div>
    </ion-col>
    <ion-col no-padding class="padding-col card-background-page" col-6>
      <div class="image-height-2" [style.background-image]="'url('+fileImages[2].image+')'"></div>
    </ion-col>
  </ion-row>

  <!-- 4 pics -->
  <ion-row *ngIf="fileImages?.length==4">
    <ion-col no-padding class="padding-col card-background-page" col-6>
      <div class="image-height-2" [style.background-image]="'url('+fileImages[0].image+')'"></div>
      <div class="card-title" *ngIf="fileImages[0].title">{{fileImages[0].title}}</div>
      <div class="card-subtitle" *ngIf="fileImages[0].subtitle">{{fileImages[0].subtitle}}</div>
    </ion-col>
    <ion-col no-padding class="padding-col card-background-page" col-6>
      <div class="image-height-2" [style.background-image]="'url('+fileImages[1].image+')'"></div>
      <div class="card-title" *ngIf="fileImages[1].title">{{fileImages[1].title}}</div>
      <div class="card-subtitle" *ngIf="fileImages[1].subtitle">{{fileImages[1].subtitle}}</div>
    </ion-col>
    <ion-col no-padding class="padding-col card-background-page" col-6>
      <div class="image-height-2" [style.background-image]="'url('+fileImages[2].image+')'"></div>
    </ion-col>
    <ion-col no-padding class="padding-col card-background-page" col-6>
      <div class="image-height-2" [style.background-image]="'url('+fileImages[3].image+')'"></div>
    </ion-col>
  </ion-row>

  <!-- 5+ pics -->
  <ion-row *ngIf="fileImages?.length>=5">
    <ion-col no-padding class="padding-col card-background-page" col-6>
      <div class="image-height-2" [style.background-image]="'url('+fileImages[0].image+')'"></div>
      <div class="card-title" *ngIf="fileImages[0].title">{{fileImages[0].title}}</div>
      <div class="card-subtitle" *ngIf="fileImages[0].subtitle">{{fileImages[0].subtitle}}</div>
    </ion-col>
    <ion-col no-padding class="padding-col card-background-page" col-6>
      <div class="image-height-2" [style.background-image]="'url('+fileImages[1].image+')'"></div>
      <div class="card-title" *ngIf="fileImages[1].title">{{fileImages[1].title}}</div>
      <div class="card-subtitle" *ngIf="fileImages[1].subtitle">{{fileImages[1].subtitle}}</div>
    </ion-col>
    <ion-col no-padding class="padding-col card-background-page" col-4>
      <div class="image-height-3" [style.background-image]="'url('+fileImages[2].image+')'"></div>
    </ion-col>
    <ion-col no-padding class="padding-col card-background-page" col-4>
      <div class="image-height-3" [style.background-image]="'url('+fileImages[3].image+')'"></div>
    </ion-col>
    <ion-col no-padding class="padding-col card-background-page" col-4>
      <div class="image-height-3" [style.background-image]="'url('+fileImages[4].image+')'"></div>
      <div class="card-title" *ngIf="fileImages.length>5">+{{(fileImages.length-5)}}</div>
    </ion-col>
  </ion-row>
  <button ion-button full (click)="onShare()" [disabled]="txtStatus.value === ''">Share</button>
  <button ion-button full (click)="cancel()">Cancel</button>
</ion-grid>
</ion-content>