<ion-header>
    <ion-toolbar>
        <ion-buttons start>
            <button ion-button menuToggle color="primary">
                <ion-icon name="menu"></ion-icon>
            </button>
        </ion-buttons>

        <ion-title *ngIf="!isSearch">{{dynamicCards?.title}}</ion-title>

        <ion-buttons end *ngFor="let btn of dynamicCards?.buttons">
            <button *ngIf="!isSearch" class="badge-background" ion-button icon-only color="{{btn.color}}"
                (click)="onClickHeader(btn)">
                <ion-icon name="{{btn.icon}}"></ion-icon>
            </button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content no-padding class="background-page gradient">
    <ion-grid no-padding>
        <ion-row>
            <ion-col col-12 offset-xl-3 col-xl-6 offset-lg-3 col-lg-6 offset-md-2 col-md-8 col-sm-12
                *ngFor="let it of dynamicCards?.items">
                <!-- Card mạng xã hội cho một chủ đề liên quan item -->
                <ion-card class="background-card gradient grid-border card-margin">
                    <!-- Tóm lượt chủ đề theo tác giả -->
                    <ion-item class="background-card gradient grid-border" *ngIf="it.short_detail">
                        <ion-avatar item-start>
                            <img *ngIf="userInfo?.username==it.user" src="assets/imgs/ca_the.jpg">
                            <img *ngIf="userInfo?.username!=it.user&&contacts[it.user]&&contacts[it.user].avatar" src="assets/imgs/ca_nau.jpg">
                            <img *ngIf="userInfo?.username!=it.user&&!(contacts[it.user]&&contacts[it.user].avatar)" src="assets/imgs/no-image-go.jpg">
                        </ion-avatar>
                        <ion-title>{{contacts[it.user]&&contacts[it.user].fullname?contacts[it.user].fullname:it.user}}</ion-title>
                        <p *ngIf="it.short_detail?.p" text-wrap>{{it.short_detail?.p}}</p>
                        <ion-note item-end *ngIf="it.short_detail?.note">{{it.short_detail?.note}}</ion-note>
                        <button item-end icon-only ion-button clear small *ngIf="it.short_detail?.action"
                            color="{{it.short_detail?.action?.color}}"
                            (click)="onClickShortDetails(it.short_detail?.action, it)">
                            <ion-icon name="{{it.short_detail?.action?.icon}}"></ion-icon>
                        </button>
                    </ion-item>

                    <!-- 1 pics -->
                    <div class="one-image card-background-page" *ngIf="it.medias && it.medias.length===1"
                        (click)="onClickMedia(it)">
                        <img [src]="it.medias[0].image" />
                        <div class="card-title" *ngIf="it.medias[0].title">{{it.medias[0].title}}</div>
                        <div class="card-subtitle" *ngIf="it.medias[0].subtitle">{{it.medias[0].subtitle}}</div>
                    </div>

                    <!-- 2 pics -->
                    <ion-row *ngIf="it.medias && it.medias.length===2">
                        <ion-col no-padding class="padding-col card-background-page" col-6 (click)="onClickMedia(it)">
                            <div class="image-height-2" [style.background-image]="'url('+it.medias[0].image+')'"></div>
                            <div class="card-title" *ngIf="it.medias[0].title">{{it.medias[0].title}}</div>
                        </ion-col>
                        <ion-col no-padding class="padding-col card-background-page" col-6 (click)="onClickMedia(it)">
                            <div class="image-height-2" [style.background-image]="'url('+it.medias[1].image+')'"></div>
                            <div class="card-title" *ngIf="it.medias[1].title">{{it.medias[1].title}}</div>
                        </ion-col>
                    </ion-row>

                    <!-- 3 pics -->
                    <ion-row *ngIf="it.medias && it.medias.length===3">
                        <ion-col no-padding class="padding-col card-background-page" col-12 col-md-4 col-xl-4
                            (click)="onClickMedia(it)">
                            <div class="image-height-1" [style.background-image]="'url('+it.medias[0].image+')'"></div>
                            <div class="card-title" *ngIf="it.medias[0].title">{{it.medias[0].title}}</div>
                        </ion-col>
                        <ion-col no-padding class="padding-col card-background-page" col-6 col-md-4 col-xl-4
                            (click)="onClickMedia(it)">
                            <div class="image-height-2" [style.background-image]="'url('+it.medias[1].image+')'"></div>
                        </ion-col>
                        <ion-col no-padding class="padding-col card-background-page" col-6 col-md-4 col-xl-4
                            (click)="onClickMedia(it)">
                            <div class="image-height-2" [style.background-image]="'url('+it.medias[2].image+')'"></div>
                        </ion-col>
                    </ion-row>

                    <ion-row no-padding *ngIf="it.actions">
                        <ion-col text-center>
                            <button *ngIf="it.actions.like" ion-button clear small color="{{it.actions.like.color}}"
                                (click)="onClickActions(it.actions.like, it)" icon-start>
                                <ion-icon name="{{it.actions.like.icon}}"></ion-icon>
                                {{it.actions.like.name}}
                            </button>
                        </ion-col>
                        <ion-col text-center>
                            <button *ngIf="it.actions.comment" ion-button clear small
                                color="{{it.actions.comment.color}}" (click)="onClickActions(it.actions.comment, it)"
                                icon-start>
                                <ion-icon name='{{it.actions.comment.icon}}'></ion-icon>
                                {{it.actions.comment.name}}
                            </button>
                        </ion-col>
                        <ion-col text-center>
                            <button *ngIf="it.actions.share" ion-button clear small color="{{it.actions.share.color}}"
                                (click)="onClickActions(it.actions.share, it)" icon-start>
                                <ion-icon name='{{it.actions.share.icon}}'></ion-icon>
                                {{it.actions.share.name}}
                            </button>
                        </ion-col>
                    </ion-row>
                </ion-card>
            </ion-col>

        </ion-row>

    </ion-grid>
</ion-content>