<ion-header *ngIf="dynamicForm.title">
	<ion-toolbar>
		<ion-title>{{dynamicForm.title}}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content no-padding class="background-page gradient">
	<ion-grid>
		<ion-row>
			<ion-col class="background-card gradient grid-border" text-center>
				<ion-list *ngFor="let it of dynamicForm.items">

					<!-- title -->
					<ion-item class="background-card" *ngIf="it.type == 'title'">
						<ion-label class="title-item">{{it.name}}</ion-label>
					</ion-item>

					<!-- single select -->
					<ion-item class="input-item" *ngIf="it.type == 'select'">
						<ion-icon item-left name="{{it.icon}}" *ngIf="it.icon"></ion-icon>
						<ion-label color="primary" text-wrap style="text-align: justify;">{{it.name?it.name:''}}
						</ion-label>
						<ion-select [(ngModel)]="it.value"
							style="background-color: rgb(230, 103, 198); color:whitesmoke; border-radius: 1em;">
							<ion-option *ngFor="let mySet of it.options" value="{{mySet.value}}">{{mySet.name}}
							</ion-option>
						</ion-select>
					</ion-item>

					<!-- button action -->
					<ion-grid *ngIf="it.type == 'button'">
						<ion-row>
							<ion-col *ngFor="let myBtn of it.options" style="text-align: center;">
								<button class="button-item" ion-button round (click)="onClick(myBtn)">
									{{myBtn?.name}}
								</button>
							</ion-col>
						</ion-row>
					</ion-grid>

				</ion-list>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>